.info {
	display: flex;
	font-size: 0.8rem;
}

.left {
	font-size: 1rem;
	font-weight: bold;
	flex: 1.5;
	padding-top: 1.1rem;
	border-top: 3px solid white;
}

.right {
	flex: 2.5;
	border-top: 3px solid black;
	padding-top: 1.1rem;
	display: flex;
	flex-direction: column;
	gap: 1.1rem;
}

.experience {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.company {
	font-weight: bold;
}

.dates {
	font-style: italic;
}
