@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.form{
    display: flex;
    flex-direction: column;
    min-width: 50%;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 1.5rem;
    gap: 3rem;
}

.experienceList,
.educationList{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.personalForm,
.education,
.experience{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.head{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.8rem;
}

.head>h2{
    font-weight: 500;
    font-size: 2rem;
}

.addBtn{
    background-color: rgb(0, 132, 255);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 3px;
    width: 7rem;
    height: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
}

.addBtn:hover{
    font-weight: 600;
}

.deleteBtn{
    background-color: rgb(255, 135, 135);
    color: white;
    border: none;
    border-radius: 3px;
    width: 7rem;
    height: 2rem;
    margin: 5px auto 0 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;;
}

.deleteBtn:hover{
    font-weight: 600;
}

.input{
    height: 2rem;
    border: none;
    border-bottom: 2px solid rgb(167, 167, 167);
    padding-left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
}

.input:focus{
    outline: none;
}